---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

---
---

<html>
  <body>
    <h1>Hi, I’m Advik 👋</h1>
    <p>Welcome to my astronomy + tech blog.</p>
  </body>
</html>